:root {
  --background: hsl(220 16% 11% / 1);
  --surface: #2e3440;
  --diff-red: rgba(244, 63, 94, 0.8);
  --diff-red-background: rgba(244, 63, 94, 0.15);
  --diff-green: rgba(16, 185, 129, 0.8);
  --diff-green-background: rgba(16, 185, 129, 0.15);
}

/* actual non-reset css */

@layer diff {
  .remove,
  .add {
    font-weight: bolder;
  }

  .diff.remove {
    background-color: var(--diff-red-background);
    color: var(--diff-red);
    opacity: 0.7;
  }

  .diff.remove::before {
    /*content: "-";*/
  }

  .diff.add {
    background-color: var(--diff-green-background);
    color: var(--diff-green);
  }

  .diff.add::before {
    /*content: "+";*/
  }

  .vp-code .tab,
  .vp-code .space {
    position: relative;
  }

  .vp-code .tab::before {
    content: "⇥";
    position: absolute;
    opacity: 0.3;
  }

  .vp-code .space::before {
    content: "·";
    position: absolute;
    opacity: 0.3;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
  }

  #main {
    /*max-width: clamp(100%, 80vw, 1000px);*/
    width: 100vw;
    padding: 1rem;
    border-radius: 1rem;
    /*background: var(--surface);*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    pre {
      overflow: scroll;
    }

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .grid {
    }
  }

  /* Css for line numbering */
  code {
    counter-reset: step;
    counter-increment: step 0;
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
  }
}
