/*
@media screen and (prefers-color-scheme: light) {
body {
    background-color: var(--d2h-bg-color);
}
h1 {
    color: var(--d2h-light-color);
}
}
@media screen and (prefers-color-scheme: dark) {
body {
    background-color: rgb(13, 17, 23);
}
h1 {
    color: var(--d2h-dark-color);
}
}
*/